* {
  box-sizing: border-box;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  padding: 1rem;
  margin: 0;
  font-size: 16px;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  background-color: #1f2d3d;
  color: #ffffff;
  line-height: 1.6;
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

a {
  color: currentColor;
  -webkit-text-decoration: none;
  text-decoration: none;
}

h1,
h2,
strong,
button,
.btn {
  font-weight: 800 !important;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  line-height: 1.25;
}

.sheet {
  width: 100%;
  max-width: 28rem;
  margin: 1rem auto 2rem;
  border-radius: .5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.875);
  color: rgb(31, 45, 61);
  text-align: left;
}

@media (min-width: 32em) {
  .sheet {
    padding: 2rem;
    margin: 2rem auto;
  }
  img {
    margin-top: 2rem;
  }
}
@media (max-width: 32em) {
  img {
    max-width: 128px;
  }
}

label {
  display: block;
  margin: 0 0 1rem;
}

input,
button,
.btn {
  font: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.875);
  border: 0;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  padding: 0 .375rem;
  border-radius: .25rem;
  min-height: 2rem;
  line-height: 1.75;
  font-size: 16px;
  margin: 0px;
}

button,
.btn {
  border-radius: 128px;
  background-color: rgb(255, 90, 95);
  color: white;
  line-height: 3rem;
  display: inline-block;
  max-width: 12rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 3rem;
}
